@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
html{
  scroll-behavior: smooth;
  ::-webkit-scrollbar {
    width: 10px;
    }
    /* Track */
    ::-webkit-scrollbar-track {
        background: black;
    }
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #FFB800;
    }
    ::-webkit-scrollbar-thumb:window-inactive {
      background:black; 
    }
}
// navbar
.navbar{
  background-color: #FFB800;
  height: 70px;
  position: fixed;
  z-index: 99;
  top: 0;
  width: 100%;
  .navbar-brand{
    margin-left: 60px;
    font-weight: bold;
  }
  .navbar-nav{
    margin-left: 860px;
    font-weight: bold;
  }
}

//content
.content{
  width: 100%;
  height: 500px;
  background-color: black;
  display: flex;
  margin-top: 70px;
  .text{
    width: 50%;
    height: 100%;
    .text-content{
      margin-left: 70px;
      margin-top: 100px;
      color: white;
      p{
        color: #FFB800;
      }
      span{
        color: #FFB800;
      }
      button{
        width: 120px;
        height: 45px;
        border-radius: 5px;
        margin-top: 40px;
        border: none;
        outline: none;
      }
      .btn-hire{
        background-color: #FFB800;
      }
      .btn-resume{
        border: 1px solid white;
        color: white;
        background-color: black;
      }
    }
  }
  .hero{
    width: 50%;
    height: 100%;
    position: relative;
    .box-one{
      width: 200px;
      height: 250px;
      background-color: #FFB800;
      position: absolute;
      top: 70px;
      left: 150px;
      border: 1px solid rgba(255, 255, 255, 0.603);
      border-radius: 5px;
    }
    .box-two{
      width: 200px;
      height: 250px;
      background-color: #FFB800;
      position: absolute;
      top: 110px;
      left: 200px;
      border: 1px solid rgba(255, 255, 255, 0.603);
      border-radius: 5px;
    }
    .box-three{
      width: 200px;
      height: 250px;
      background-color: #FFB800;
      position: absolute;
      top: 150px;
      left: 130px;
      border: 1px solid rgba(255, 255, 255, 0.603);
      border-radius: 5px;
    }
  }
}
//end of content

// About Me
  .about-wrapper{
    width: 100%;
    height: 600px;
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    aside{
      .box-aside-one{
        width: 200px;
        height: 250px;
        background-color: #FFB800;
        margin-top: 120px;
        margin-left: 80px;
        border: 1px solid rgba(255, 255, 255, 0.603);
        border-radius: 5px;
      }
      .box-aside-two{
        width: 200px;
        height: 250px;
        background-color: #FFB800;
        margin: -190px 120px;
        border: 1px solid rgba(255, 255, 255, 0.603);
        border-radius: 5px;
      }
    }
    main{
      padding: 30px;
    }
  }
// End of About Me

// Project
  .project-wrapper{
    width: 100%;
    height: 600px;
    background-color: black;
    color: white;
  }
// End Project

// Resume
  .resume-wrapper{
    width: 100%;
    height: 700px;
    background-color: black;
    color: white;
  }
// End of Resume

// on phone

@media (max-width: 576px) {
  .navbar{
    font-weight: bold;
    .navbar-brand{
      margin-left: 0 !important;
    }
    .navbar-nav{
      margin-left: 0 !important;
    }
  }
  // end of navbar
  .content{
    width: 100vw;
    height: 500px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    .text{
      width: 300px;
      height: 300px;
      background-color: #fff;
    }
  }
}
